body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: white;
}
.container {
    text-align: center;
}
h1 {
    font-size: 4em;
    margin-bottom: 40px;
}
.form-box {
    background: #f9f9f9;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 15px;
    display: inline-block;
}
.button {
    display: block;
    width: 250px;
    padding: 10px;
    margin: 11px auto;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
}
.button:hover {
    background: #0056b3;
}
