body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 25px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.remember-me {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 11px;
    background: #070101;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
