body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 300px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}
input {
    width: 100%;
    padding: 10px;
    margin: 11px 0;
    border: 3px solid #ccc;
    border-radius: 15px;
}
button {
    width: 105%;
    padding: 12px;
    margin: 2px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}