<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Together</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Together</h1>
        <div class="form-box">
            <button class="button" onclick="register()">Зарегистрироваться</button>
            <button class="button" onclick="login()">Войти</button>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>