<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
        <form id="registrationForm">
            <input type="text" id="name" placeholder="Введите имя" required>
            <input type="email" id="email" placeholder="Введите email" required>
            <input type="password" id="password" placeholder="Введите пароль" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <script src="../static/js/register.js"></script>
</body>
</html>